*

!.gitignore
!Dockerfile
!requirements.txt
!atelier.ipynb
!presentation-atelier-solution.ipynb
!app.py

!autres/
!autres/**

!tests/
!tests/**

!imgs/
!imgs/**

!web_app/
!web_app/**

.ipynb_checkpoints
*.pyc